:root {
  --color-white: rgb(240, 240, 240);
  --color-black: #000;
  --color-blue-500: #091c4d;
  --color-blue-900: #0b0d14;
  --color-black-yuri: #000000;
  --color-blue-yuri: #101d4d;
}

@custom-media --extra-small-viewport-below (width < 320px);
@custom-media --extra-small-viewport-above (width >= 320px);
@custom-media --small-viewport-below (width < 375px);
@custom-media --small-viewport-above (width >= 375px);
@custom-media --medium-viewport-below (width < 768px);
@custom-media --medium-viewport-above (width >= 768px);
@custom-media --large-viewport-below (width < 1024px);
@custom-media --large-viewport-above (width >= 1024px);
@custom-media --extra-large-viewport-below (width < 1280px);
@custom-media --extra-large-viewport-above (width >= 1280px);
