<template>
  <section :class="{ 'u-print-hidden': shouldHideFromPrint }" class="ExperienceItem">
    <header>
      <div class="period">
        {{ content.start.month }} {{ content.start.year }} - {{ content.end.month }} {{ content.end.year }}
        <span v-if="durationInMonths" class="duration">
          ({{ durationInMonths }} {{ durationInMonths | pluralize('month') }})
        </span>
        <span v-if="content.location" class="location">({{ content.location }})</span>
      </div>
      <h3 v-if="content.name" class="name">
        {{ content.name }}
        <span v-if="content.isDefunct" class="defunct">(defunct)</span>
      </h3>
      <div class="role">
        {{ content.role }}
        <span v-if="content.isContractor" class="type">Contractor</span>
      </div>
    </header>
    <img
      v-if="content.img"
      :src="content.img"
      class="image"
    >
    <video
      v-if="content.mp4"
      class="image"
    > <source :src="content.mp4" type="video/mp4">
    </video>

    <div 
      v-if="content.video"
      class="videowrapper"
    >
      <iframe 
        :src="content.video" 
        height="315" 
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen/>
    </div>

    <div
      v-if="content.description"
      class="description"
      v-html="$md.render(content.description)"
    />

    <br>
    
    <a
      v-if="content.link"
      :href="content.link"
      class="link"
    > {{ content.link }} </a>
    <br>

    <a
      v-if="content.opensource"
      :href="content.opensource" 
      class="nav-link"
    >
      <span class="d-none d-sm-inline"> View on GitHub </span>
      <svg 
        version="1.1" 
        width="16" 
        height="16" 
        viewBox="0 0 16 16" 
        class="octicon octicon-mark-github" 
        aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg>
    </a>

    <ListSection
      v-if="content.technologies"
      :items="content.technologies"
      inline
      class="technologies"
      title="Technologies & tools:"
    />
  </section>
</template>

<script>
import ListSection from './ListSection';

export default {
  components: {
    ListSection,
  },
  filters: {
    pluralize(value, word) {
      return `${word}${value === 1 ? '' : 's'}`;
    },
  },
  props: {
    content: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    shouldHideFromPrint() {
      const itemStartYear = parseInt(this.content.start.year, 10);
      const threeYearsAgo = new Date().getFullYear() - 4;
      return itemStartYear < threeYearsAgo;
    },
    durationInMonths() {
      const startDate = new Date(
        `${this.content.start.year}-${this.content.start.month}`,
      );
      const endDate = new Date(
        `${this.content.end.year}-${this.content.end.month}`,
      );
      return (
        endDate.getMonth() -
        startDate.getMonth() +
        12 * (endDate.getFullYear() - startDate.getFullYear())
      );
    },
  },
};
</script>

<style scoped>
@import '~/css/_settings.css';

.ExperienceItem {
  page-break-inside: avoid;
  max-width: 70ch;

  @nest .ExperienceItem + & {
    margin-top: 2em;

    &::before {
      content: '';
      border-top: 0.25em solid var(--color-blue-500);
      opacity: 0.5;
      margin-bottom: 2em;
      width: 3em;
      display: block;
    }
  }

  & > * + * {
    margin-top: 1em;
  }
}

.name {
  margin: 0;
  font-size: 1.25em;
}

.name .defunct {
  margin-left: 0.25em;
  font-weight: 300;
  color: #aaa;
  font-size: 1rem;
}

.period,
.role {
  margin: 0;
  font-size: 0.9em;
}

.duration {
  color: #666;
  margin-left: 0.25em;
}

.role {
  color: #666;
}

.type {
  font-size: 0.8em;
  font-weight: 500;
  display: inline-block;
  padding: 0.1em 0.3em 0;
  text-transform: uppercase;
  border-radius: 0.2em;
  background-color: #eee;
  margin-left: 0.2em;
}

.technologies {
  font-size: 0.9em;
}

.link {
  margin-top: 2em;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media print {
  .type {
    color: #aaa;
    border: 1px solid #ccc;
    background-color: transparent;
  }

  .ExperienceItem + .ExperienceItem::before {
    border-color: #000;
  }

  .u-print-hidden + .technologies {
    margin-top: 10px;
  }
}
.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
